@tailwind base;
@tailwind components;
@tailwind utilities;

.player-slider {
  @apply appearance-none h-1 rounded-full bg-white/20 cursor-pointer;
}

.player-slider::-webkit-slider-thumb {
  @apply appearance-none w-3 h-3 rounded-full bg-white shadow-md;
}

.player-slider::-moz-range-thumb {
  @apply appearance-none w-3 h-3 rounded-full bg-white shadow-md border-0;
}